# Browserbase Configuration
BROWSERBASE_PROJECT_ID=your_browserbase_project_id
BROWSERBASE_API_KEY=your_browserbase_api_key

# Pass your preferred LLM API key (choose a model for your provider in the Stagehand constructor)
GOOGLE_API_KEY="YOUR_GOOGLE_API_KEY"

# Reducto Configuration
REDUCTOAI_API_KEY=your_reducto_api_key