# Browserbase Configuration
BROWSERBASE_PROJECT_ID=your_browserbase_project_id
BROWSERBASE_API_KEY=your_browserbase_api_key

# Pass your preferred LLM API key (choose a model for your provider in the Stagehand constructor)
OPENAI_API_KEY="YOUR_OPENAI_API_KEY"
GOOGLE_API_KEY="YOUR_GOOGLE_API_KEY"
ANTHROPIC_API_KEY="YOUR_ANTHROPIC_API_KEY"
AZURE_API_KEY="YOUR_AZURE_API_KEY"

# Reducto Configuration
REDUCTOAI_API_KEY=your_reducto_api_key
